<html>
    <head>
        <title>User</title>
    </head>
    <h1>User</h1>
    <body>
        <div>
                <p>Firstname : {{ current_user.user_first_name }}<br></p>
                <p>Lastname : {{ current_user.user_last_name }}<br></p>
                <p>Username : {{ current_user.user_username }}<br></p>
                <br>
                {% for song in current_user.songs %}
                    <p>--------------------------------</p>
                    <p>Song id : {{ song.id }}</p>
                    <p>Song name : {{ song.song_name }}</p>
                    <p>Artist :  {{ song.song_artist }}</p>
                    <p>Length : {{ song.song_length }}</p>
                    <br>
                    <button><a href="{{ url_for('delete_song', song_id = song.id)}}">Delete Song</a></button>
                    <br>
                    <button><a href="{{ url_for('update_song', song_id = song.id) }}">Update Song</a></button>
                    <p>--------------------------------</p>
                {% endfor %}
        </div>
        <div>
            <button><a href="{{ url_for('user_add_song') }}">Add Song</a></button>
            <br>
            <br>
            <button><a href="{{ url_for('update_user') }}">update Profile</a></button>
            <br>
            <br>
            <button><a href="{{ url_for('delete_user') }}">delete Profile</a></button>
        </div>
        <div>
            <p>
            </p>
        </div>
    </body>
</html>