<html>
    <head>
        <title>User</title>
    </head>
    <h1>User1</h1>
    <body>
        <div>
                <p>{{ current_user.user_first_name }}<br></p>
                <p>{{ current_user.user_last_name }}<br></p>
                <p>{{ current_user.user_username }}<br></p>
                {% for song in current_user.songs %}
                    <p>Song id : </p><p>{{ song.id }}</p>
                    <p>Song name : </p><p>{{ song.song_name }}</p>
                    <p>Artist : </p><p>{{ song.song_artist }}</p>
                {% endfor %}
        </div>
        <div>
            <button><a href="{{ url_for('user_add_song') }}">Add Song</a></button>
        </div>
        <div>
            <p>
            </p>
        </div>
    </body>
</html>