<html>
    <head>
        <title>User</title>
    </head>
    <h1>User</h1>
    <body>
        <div>
                <p>{{ current_user.user_first_name }}<br></p>
                <p>{{ current_user.user_last_name }}<br></p>
                <p>{{ current_user.user_username }}<br></p>
                <p>{{ current_user.songs }}</p>
        </div>
        <div>
            <button><a href="{{ url_for('user_add_song') }}">Add Song</a></button>
        </div>
        <div>
            <p>
            </p>
        </div>
    </body>
</html>